<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="redisdemo.mapper.OrderMapper">
    <resultMap id="map" type="redisdemo.OrderPO">
        <id column="address_id" property="orderId"/>
        <result column="province_code" property="notes"/>
    </resultMap>
    <insert id="insert">
    insert into eshop_order  (
      order_id ,
      notes ,
      total_price ,
      status ,
      payment_time ,
      ship_time ,
      deal_time ,
      create_user_id ,
      create_time ,
      modify_user_id ,
      modify_time
    )
      values(#{orderId},#{notes},#{totalPrice},#{status},#{paymentTime},#{shipTime},#{dealTime},#{createUserId},#{createTime}
      ,#{modifyUserId},#{modifyTime})
    </insert>
</mapper>